<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nha_Sach_Desktop.Properties.Settings.BatOnBookStoreConnectionString"
            connectionString="Data Source=LAPTOP-1TEJ4NIL;Initial Catalog=BatOnBookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nha_Sach_Desktop.Properties.Settings.BatOnBookStoreConnectionString1"
            connectionString="Data Source=DESKTOP-R6I8CPR\SQLEXPRESS;Initial Catalog=BatOnBookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nha_Sach_Desktop.Properties.Settings.BatOnBookStoreConnectionString2"
            connectionString="Data Source=LAPTOP-1TEJ4NIL;Initial Catalog=BatOnBookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nha_Sach_Desktop.Properties.Settings.BatOnBookStoreConnectionString3"
            connectionString="Data Source=QUANTRUNG286\QUANTRUNG;Initial Catalog=BatOnBookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nha_Sach_Desktop.Properties.Settings.BatOnBookStoreConnectionString4"
            connectionString="Data Source=HUY\SQLEXPRESS;Initial Catalog=BatOnBookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nha_Sach_Desktop.Properties.Settings.BatOnBookStoreConnectionString5"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=BatOnBookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>